
@font-face {
    font-family: "earthorbiter";
    src: url(earthorbiter.ttf);
    }

header {
font-family: "earthorbiter";
margin: 0;
padding: 0;
font-size: 16px;
}

body {
background-color: white;

}

body{
font-family: 'Amatic SC', cursive;
margin: 0;
padding: 0;


}

header {
    background-color: white;  
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#header {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 -50px;
    
    
}
/* 
.headertext {
    background-color: #e0e0e0;
    height: auto;
    width: auto;
} */

#headertext {
    background-color: #e0e0e0;
    height: 50px;
   
}


a.headertext {
color: black;
text-decoration: none;
padding: 0 30px 0 30px;
}
/* .img2 {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 -500px;
} */

/* div {
    width: 100%;
    height: 300px;
} */

h1 {
    color: white;
}

a:hover {
    color: #4D126A;
}

.background {
    background-color: white;
    height: 200px;
    width: 200px;
}

#selection {
 
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    
}

.background2 {
    height: 340px;
    width: 600px;
    background-color: black;
    margin-top: 50px;
    justify-self: center;
    
}

.activite {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.conteneur
 {

 }

 .activiteimage {
     position: absolute;
     z-index: 1;
 }

 .activitetext {
     position: absolute;
     z-index: 2;
 }

 .backgroundimg {
     margin-top: 0;
 }

 .background3 :last-child {
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    color: white;
    border-block-end: black 20px;
    
 }

.colorBack {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /* opacity: 0.5; */
}


.bandeautext {
    font-size: 40px;
    padding: 0;
    margin: 0;
    
}
.photomars {
    height: 550px; 
    width: 700px;
    border: 3px solid black;
}


/* TEST TEST TEST TEST TEST TEST TEST */

html, body {margin:0px; padding: 0px;}

nav {
    background-color: #34495e;
    height: 80px;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 999;
}

#logo {height: 80px; margin-left: 20px;}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
        margin-top: 80px;
}


.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
   
    overflow: hidden;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

p {
    color: white;
    
}
/* */
.bg-one {
    width:600px; height:340px;
}

.parent {
    width:600px; height:340px
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

footer {
    margin-bottom: 50px;
}

/* css page hebergement */

.exemplehebergement {
    text-align: center;
    margin-top: 200px;
    
}

.logementlune, .logementmars {
    height: 350px; 
    width: 500px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    border: 3px solid black;
    
}

.hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    font-size: 20px;
    
}

/* css page transport */

.exempletransport {
    text-align: center;
    margin-top: 200px;
}

.transport {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold
}

.transportmars, .transportlune {
    border: 3px solid black;
    margin-top: 150px;
}  

/* css page restauration */

.exemplerestauration {
    text-align: center;
    margin-top: 200px;
    
}

.restaurationmars, .restaurationlune {
    height: 350px; 
    width: 500px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    border: 3px solid black;
    
}

.restauration {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    font-size: 20px;
}

/* css page equipement */

.photoequipement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    font-size: 20px;
    font-weight: bold;

}
.combinaisonadulte {
    height: 350px; 
    width: 600px;
    border: 3px solid black;
}

.combinaisonenfant {
    height: 350px; 
    width: 600px;
    border: 3px solid black;
}
.text  {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 150px;
    
}
.titre {
    text-align: center;
    margin-top: 100px;
}
.messageaccueil {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 0;
}

/* css page destination */

.photosdestination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    font-size: 20px;
    font-weight: bold;
}  
.photolune {
    height: 550px; 
    width: 700px;
    border: 3px solid black;
}
.text  {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 150px;
    
}
.titre {
    text-align: center;
    margin-top: 100px;
}
.messageaccueil {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 0;
    color: black;

}

   