* {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
}

body {
    background-color: white;
     


    
}

header {
    background-color: white;;   
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

#header {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 -50px;
    
}

#headertext {
    background-color: #e0e0e0;
    height: 50px;
}


a.headertext {
    color: black;
    text-decoration: none;
    padding: 0 30px 0 30px;


}
/* .img2 {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 -500px;
} */

div {
    width: 100%;
    height: 300px;
    
}

h1 {
    color: white;
}

a:hover {
    color: #CCAC55;
    text-decoration: none;
    
}

.background {
    background-color: white;
    height: 200px;
    width: 200px;
}

#selection {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.background2 {
    
    height: 300px;
    width: 601px;
    background-color: black;
    margin-top: 50px;

}
/* footer */



/* css page destination */

.photosdestination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    font-size: 20px;
    font-weight: bold;
}
.photomars {
    height: 550px; 
    width: 700px;
}

.photolune {
    height: 550px; 
    width: 700px;
}
.text  {
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 0;
    padding: 0;
}

/* css page hebergement */

.logementlune, .logementmars {
    height: 350px; 
    width: 600px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    
}

.hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    font-size: 20px;
}

/* css page transport */

.transport {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold
}

.transportmars, .transportlune {
    border: 15px solid black;
    margin-top: 150px;
}  